div.container{
  color: #ffffff;
}

p {
  text-align: center;
  color: #FFF;
  font-size: 18px;
  opacity: 0.52;
  -moz-opacity: 0.52;
  filter: alpha(opacity=52);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=52)";
  display: block;
  margin-bottom: 47px;
  line-height: 23px;
}