.custom-checkbox label.custom-control-label{
  position: static;
}

.login-box .custom-checkbox{
  margin-top: 8px;
}

.asteriskField{
  color: red;
}

.checkbox-slider--a input + span:after {
  content: "Não";
  font-size: 13px;
}

.checkbox-slider--a input:checked + span:after {
  content: "Sim";
  font-size: 13px;
}

span.is-invalid{
  color: #dc3545;
}